body {
	font-family: 'Lato', sans-serif;
	background: #fff;
	margin: 0;
	/* color: #999; */
}


#sommerpause {
	color: #000;
}

h1, h2, h3 {
	color: #00abe5;
}

code {
    background-color: #eee;
    padding: 2px 5px;
}

#logoBackgroundImage {
    display: block;
    position: relative;
    width: 100%;
	height: 460px;
	object-fit: cover;
}

#logo {
  position: relative;
  top: -413px;
  margin-left: 15%;
}

main {
	width: 70%;
	margin: 0 auto;
	position: relative;
	top: -300px;
	background: #fff;
	padding: 30px;
   transition: margin 0.2s;
   border: 1px solid #eee;
	border-bottom: 0;
}

#hero img {
	max-width: 200px;
	border-radius: 40px;
	float: left;
	margin-right: 5em;	
	margin-bottom: 2em;	
}

#main-content {
	clear: both;
}

.buttons {
	text-align: center;
}

button {
	background: #00b1e6;
	color: #fff;
	padding: 1rem;
	font-weight: bold;
	margin: 1rem 2rem;
	min-width: 30%;
	border: none;
	transition-duration: 500ms;
}

button a {
	text-decoration: none;
	color: #fff;
}

button:hover {
	background: #0095c2;
	transition-duration: 500ms;
}

button.disabled {
	background: #eee;
	color: #aaa;
}

@media only screen and (max-width: 1000px) {
	button {
		width: 80%;
		font-size: 3em;
	}
}


@media only screen and (min-width: 1001px) {
	button {
		width: 250px;
		font-size: 1.5em;
	}
}

footer {
	margin-top: -300px;
	background-color: #eee;
	padding: 1em 0;
	color: #333333;
	font-size: 0.9rem;
}

#footer-content {
	width: 70%;
	margin: 0 auto;
}

#d64vorstellung img {
	float: left;
	margin-right: 2em;
	margin-bottom: 2em;
}

#legal {
	clear: both;
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
