APScheduler==3.6.3
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
cryptography==3.3.1
decorator==4.4.2
flake8==3.8.4
idna==2.10
mccabe==0.6.1
mysql-connector-python==8.0.22
protobuf==3.14.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
python-telegram-bot==13.1
pytz==2020.5
requests==2.25.1
six==1.15.0
tornado==6.1
tzlocal==2.1
urllib3==1.26.2
