/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    color: #333;
    background: #EEEEEE;
}



a {
    text-decoration: none;
    color: #1b98f8;
}


/*
 * -- HELPER STYLES --
 * Over-riding some of the .pure-button styles to make my buttons look unique
 */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 20px;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}

/*
 * -- LAYOUT STYLES --
 * This layout consists of three main elements, `#nav` (navigation bar), `#list` (email list), and `#main` (email content). All 3 elements are within `#layout`
 */
#layout, #nav, #list, #main {
    margin: 0;
    padding: 0;
    height: 100%;
}

#main {
    border-top: 1px solid #DDDDDD;
}

/* Make the navigation 100% width on phones */
#nav {
    width: 100%;
    height: 40px;
    position: relative;
    background: rgb(37, 42, 58);
    text-align: center;
}
/* Show the "Menu" button on phones */
#nav .nav-menu-button {
    display: block;
    top: 0.5em;
    right: 0.5em;
    position: absolute;
}

/* When "Menu" is clicked, the navbar should be 80% height */
#nav.active {
    height: 80%;
}
/* Don't show the navigation items... */
.nav-inner {
    display: none;
}

/* ...until the "Menu" button is clicked */
#nav.active .nav-inner {
    display: block;
    padding: 2em 0;
}


/*
 * -- NAV BAR STYLES --
 * Styling the default .pure-menu to look a little more unique.
 */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu-link:hover,
    #nav .pure-menu-link:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu-link {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(75, 113, 151);
    }

    #nav .pure-menu-item {
        height: auto;
    }

    #nav .menu-item-current {
        background: #414470;
    }

/*
 * -- EMAIL STYLES --
 * Styles relevant to the email messages, labels, counts, and more.
 */
.email-count {
    color: rgb(75, 113, 151);
}

.ticket-color-tag {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 0.5em;
    border-radius: 3px;
}

.ticket-tag-hilfe {
    background: #47A1B3;
}
.ticket-tag-idee {
    background: yellow;
}
.ticket-tag-bug {
    background: red;
}
.ticket-tag-lob {
    background: green;
}
.ticket-tag-sönke {
    background: palevioletred;
}

.ticket-tag-erik {
    background: brown;
}

button.add-ticket-tag-button, button.remove-ticket-tag-button {
    margin-bottom: 0.2em;
    min-width: 6em;
    max-width: 100%;
}

button.remove-ticket-tag-button {
    background: #EEEEEE;
    color: #999999;
}

button.remove-ticket-tag-button span.ticket-tag-remove {
    color: darkred;
    font-weight: bold;
}

/* Email Item Styles */
.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #ddd;
    border-left: 6px solid transparent;
}

    .email-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }

    .email-subject {
        margin: 0;
        color: #333333;
    }
    .email-name {
        margin: 0;
        text-transform: uppercase;
        color: #aaaaaa;
    }

    .email-item-selected .email-name {
        color: #EEEEEE;
    }
    .email-desc {
        font-size: 80%;
        margin: 0.4em 0;
        color: #333333;
    }

.email-item-selected {
    background: #00b1e6;
    color: white;
}
.email-item-unread {
    border-left: 6px solid #1b98f8;
}

.email-item-answered {
    background: #DDDDDD;
}

/* Chat bubble styles */
.email-content-body .user-message {
    text-align: left;
    background: #00b1e6;
    color: white;
}

.email-content-body .admin-message {
    text-align: left;
    margin-left: 5em;
    background: #EEEEEE;
}

.chat-message {
    padding: 1em;
    border-radius: 15px;
    margin: 1em 0;
}

.reply-form {
    text-align: left;
    padding: 1em;
}

p.message-meta {
    font-size: 80%;
}

.admin-message p.message-meta {
    text-align: right;
    color: #999999;
}

.user-message p.message-meta {
    color: #DDDDDD;
}
/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 1em 2em;
}
    .email-content-header {
        position: fixed;
        border-bottom: 1px solid #ddd;
        border-left: 1px solid #ddd;
        background: white;
        right: 0;
    }

    .email-content-footer {
        border-top: 1px solid #ddd;
    }

        .email-content-title {
            margin: 0;
        }
        .email-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .email-content-subtitle span {
                color: #999;
            }

            .ticket-tags {
                margin: 0.5em 0;
            }

            .ticket-tags span.ticket-tag {
                margin-right: 1em;
            }

            .ticket-tags span.ticket-color-tag {
                margin: 0;
            }

        .email-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

    .email-avatar {
        width: 40px;
        height: 40px;
    }



@media (max-width: 40em) {
    div#list, div#main {
        overflow-y: scroll;
    }

    div#main {
        background: white;
    }

    .email-content-header {
        position: relative;
    }
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 40em) {

    /* Move the layout over so we can fit the nav + list in on the left */
    #layout {
        padding-left:500px; /* "left col (nav + list)" width */
        position: relative;
    }

    /* These are position:fixed; elements that will be in the left 500px of the screen */
    #nav, #list {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow: auto;
    }
    #nav {
        margin-left:-500px; /* "left col (nav + list)" width */
        width:150px;
        height: 100%;
    }

    /* Show the menu items on the larger screen */
    .nav-inner {
        display: block;
        padding: 2em 0;
    }

    /* Hide the "Menu" button on larger screens */
    #nav .nav-menu-button {
        display: none;
    }

    #list {
        margin-left: -350px;
        width: 100%;
        height: 33%;
        border-bottom: 1px solid #ddd;
        background: white;
    }

    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
        background: white;
        height: 100%;
    }

    .email-content-header {
        width: 100%;
        position: relative;
    }

}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 60em) {

    /* This will take up the entire height, and be a little thinner */
    #list {
        margin-left: -350px;
        width:350px;
        height: 100%;
        border-right: 1px solid #ddd;
    }

    /* This will now take up it's own column, so don't need position: fixed; */
    #main {
        position: static;
        margin: 0;
        padding: 0;
        width: 100%;
        border: none;
    }

    .email-content-header {
        width: auto;
    }

    .reply-form {
        margin-left: 5em;
    }
}
