<html lang="de">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Covidbot Feedback</title>
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css">
        <link rel="stylesheet" href="{{ base_url }}/static/style.css">
    </head>
    <body>
<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" id="menuLink" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="{{ base_url }}/" class="pure-menu-link">Alle</a></li>
                    <li class="pure-menu-heading">Status</li>
                    <li class="pure-menu-item"><a href="{{ base_url }}/?status=unread" class="pure-menu-link">Neu <span class="email-count">({{ num_unread }})</span></a></li>
                    <li class="pure-menu-item"><a href="{{ base_url }}/?status=read" class="pure-menu-link">Gelesen</a></li>
                    <li class="pure-menu-item"><a href="{{ base_url }}/?status=answered" class="pure-menu-link">Beantwortet</a></li>
                    <li class="pure-menu-heading">Tags</li>
                    {% for t in available_tags %}
                        <li class="pure-menu-item"><a href="{{ base_url }}/?tag={{ t }}" class="pure-menu-link"><span class="ticket-color-tag ticket-tag-{{ t }}"></span>{{ t | capitalize() }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="list" class="pure-u-1">
        {% block messagelist %}
        {% endblock %}
    </div>

    <div id="main" class="pure-u-1">
        <div class="email-content">
            <div class="email-content-header pure-g">
                <div class="pure-u-1 pure-u-lg-1-3">
                    {% block messageheader %}
                    {% endblock %}
                </div>
                <div class="email-content-controls pure-u-1 pure-u-lg-2-3">
                    <div class="pure-g">
                    {% block messagecontrols %}
                    {% endblock %}
                    </div>
                </div>
            </div>

            <div id="chat-body" class="email-content-body pure-g">
                {% block messages %}
                {% endblock %}
            </div>

            <div id="chat-footer" class="email-content-footer pure-g">
            <div class="reply-form pure-u-4-5">

                {% block replyform %}
                {% endblock %}
                <div class="pure-g">
                    {{ self.messagecontrols() }}
                </div>
            </div>
                <div class="pure-u-1-1">
                <h5>Hilfe</h5>
                <ul>
                    <li>📤 Nachricht wird versendet</li>
                    <li>✉️ Nachricht ist gesendet</li>
                    <li>📃 Nachricht wurde gelesen</li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Script to make the Menu link work -->
<!-- Just stripped down version of the js/ui.js script for the side-menu layout -->
<script>
    element = document.getElementById('mail-selected')
    element.scrollIntoView()

    element = document.getElementById('chat-footer')
    element.scrollIntoView()

    function getElements() {
        return {
            menu: document.getElementById('nav'),
            menuLink: document.getElementById('menuLink')
        };
    }

    function toggleClass(element, className) {
        var classes = element.className.split(/\s+/);
        var length = classes.length;
        var i = 0;

        for (; i < length; i++) {
            if (classes[i] === className) {
                classes.splice(i, 1);
                break;
            }
        }
        // The className is not found
        if (length === classes.length) {
            classes.push(className);
        }

        element.className = classes.join(' ');
    }

    function toggleMenu() {
        var active = 'active';
        var elements = getElements();

        toggleClass(elements.menu, active);
    }

    function handleEvent(e) {
        var elements = getElements();

        if (e.target.id === elements.menuLink.id) {
            toggleMenu();
            e.preventDefault();
        } else if (elements.menu.className.indexOf('active') !== -1) {
            toggleMenu();
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.addEventListener('click', handleEvent);
    });
</script>    </body>
</html>