{% extends "base.jinja2" %}
{% block messagelist %}
    {%  for item in messagelist %}
        <div class="email-item email-item{% if item.user_id == user.user_id %}-selected{% elif item.state().value == "unread" %}-unread{% elif item.state().value == "answered" %}-answered{% endif %}  pure-g">
            <a href="{{ base_url }}/user/{{ item.user_id }}">
            <div class="pure-u">
                <h5 class="email-name">{{ item.platform }}</h5>
                <h4 class="email-subject">Nutzer #{{ item.user_id }}</h4>
                <p class="email-desc">
                    {{ item.desc() }}
                </p>
            </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}
{% block messageheader %}
<div class="pure-u-1-3">
    <h1 class="email-content-title">Nutzer #{{ user.user_id }}</h1>
    <p class="email-content-subtitle">
        Via <a>{{ user.platform }}</a> am <span>{{ user.last_communication_str() }} Uhr</span>
    </p>
</div>

<div class="email-content-controls pure-u-2-3">
    <form method="post" class="pure-form-aligned pure-form" action="{{ base_url }}/user/{{ user.user_id }}">
        <div class="pure-u-1-5">
            {% if user.state().value == "unread" %}
                <input type="submit" class="pure-button pure-button-primary" name="mark_read" value="Als Gelesen markieren">
            {% else %}
                <input type="submit" class="pure-button pure-button-primary" name="mark_unread" value="Als Ungelesen markieren">
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
{% block messages %}
    {% for message in user.messages %}
        <div class="pure-u-4-5 {% if message.author == 0 %}admin{% else %}user{% endif %}-message chat-message">
            <p class="message">{{ message.message | replace("\n", "<br />") | safe }}</p>
            <p class="message-meta">{{ message.meta_str() | safe }}</p>
        </div>
    {% endfor %}
{% endblock %}
{% block replyform %}
<div class="reply-form pure-u-4-5">
    <form class="pure-form-stacked" method="POST"  action="{{ base_url }}/user/{{ user.user_id }}">
        <div class="pure-u-1-1">
            <label for="reply-textarea"></label>
            <textarea id="reply-textarea" name="message" class="pure-u-1-1" placeholder=""></textarea>
            <input type="submit" name="reply" class="pure-button pure-u-1-1 pure-button-primary" value="Antworten" />
        </div>
    </form>
</div>
{% endblock %}