{% extends "base.jinja2" %}
{% block messagelist %}
    {% if not messagelist %}
        <div id="mail-selected" class="email-item pure-g">
            <div class="pure-u">
                <h5 class="email-name"></h5>
                <h4 class="email-subject"></h4>
                <p class="email-desc">
                    <i>Keine Nachrichten vorhanden</i>
                </p>
            </div>
        </div>

    {% endif %}
    {%  for item in messagelist %}
        <div {% if item.user_id == user.user_id %}id="mail-selected"{% endif %} class="email-item email-item{% if item.user_id == user.user_id %}-selected{% elif item.state().value == "unread" %}-unread{% elif item.state().value == "answered" %}-answered{% endif %}  pure-g">
            <a href="{{ base_url }}/user/{{ item.user_id }}{% if active_status %}?status={{ active_status }}{% endif %}">
            <div class="pure-u">
                <h5 class="email-name">{{ item.last_communication_str() }}</h5>
                <h4 class="email-subject">{{ item.platform | capitalize() }}nutzer:in #{{ item.user_id }}</h4>
                <p class="email-desc">
                    {{ item.desc() | safe }}
                </p>
            </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}
{% block messageheader %}
    {% if user %}
        <h1 class="email-content-title">{{ user.platform | capitalize() }}nutzer:in #{{ user.user_id }}</h1>
        <p class="email-content-subtitle">
            Über <b>{{ user.platform | capitalize() }}</b> am <span>{{ user.last_communication_str() }} Uhr</span>
        </p>
        <p class="ticket-tags">{{ user.get_tags_html() | safe }}</p>
    {% endif %}
{% endblock %}
{% block messagecontrols %}
    {% if user %}
        <form method="post" class="pure-form-stacked pure-form">
            <input type="hidden" name="user_id" value="{{ user.user_id }}">
            <div class="pure-u-sm-1-2 pure-u-1-1">
                {% for t in available_tags %}
                    {% if not t in user.tags %}
                        <button name="add_tag" value="{{ t }}" class="pure-button add-ticket-tag-button">
                            <span class="ticket-color-tag ticket-tag-{{ t }}"></span> {{ t | capitalize() }}
                        </button>
                    {% else %}
                        <button name="remove_tag" value="{{ t }}" class="pure-button remove-ticket-tag-button">
                            <span class="ticket-tag-remove">X</span> {{ t | capitalize() }}
                        </button>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="pure-u-sm-1-2 pure-u-1-1">
                {% if user.state().value == "unread" %}
                    <input type="submit" class="pure-button pure-button-primary" name="mark_read" value="Als Gelesen markieren">
                {% else %}
                    <input type="submit" class="pure-button pure-button-primary" name="mark_unread" value="Als Ungelesen markieren">
                {% endif %}
            </div>
        </form>
    {% endif %}
{% endblock %}
{% block messages %}
    {% if not user %}
        <div class="pure-u-1-1"><h4>Keine Nachrichten vorhanden</h4></div>
    {% endif %}
    {% for message in user.messages %}
        <div class="pure-u-4-5 {% if message.author == 0 %}admin{% else %}user{% endif %}-message chat-message">
            <p class="message">{{ message.message | replace("\n", "<br />") | safe }}</p>
            <p class="message-meta">{{ message.meta_str() | safe }}</p>
        </div>
    {% endfor %}
{% endblock %}
{% block replyform %}
    {% if user %}
    <form class="pure-form-stacked" method="POST">
        <input type="hidden" name="user_id" value="{{ user.user_id }}">

        <div class="pure-u-1-1">
            <label for="reply-textarea"></label>
            <textarea id="reply-textarea" name="message" class="pure-u-1-1" placeholder="" rows="6">Hallo!
Danke für dein Feedback.

Viele Grüße aus dem Maschinenraum!</textarea>
            <input type="submit" name="reply" class="pure-button pure-u-1-1 pure-button-primary" value="Antworten" />
        </div>
    </form>
    {% endif %}
{% endblock %}
{% block subscriptions %}
    <h5>Abos</h5>
    {% for s in user_subs %}
        <p>{{ s }}</p>
    {% endfor %}
{% endblock %}
{% block reports %}
    <h5>Berichte</h5>
    {% for s in user_reports %}
        <p>{{ s | capitalize() }}</p>
    {% endfor %}
{% endblock %}